body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
}

.main-section-container{
  overflow-x: scroll;
  display: flex;
  justify-content: flex-start;
  flex-wrap:nowrap;

}
.main-container h3{
  text-align: center;
  margin: 20px auto;
}
.card{
  margin: 60px 20px;

}
.card p{
  margin: 10px auto;

}
.main a{
  text-decoration: none;
  color: black;
}
.card img{
  width: 150px;
  height: 150px;
}
.card-body{
  text-align: center;
}
#new{
  background-color: black;
  color:white;
  display: inline;
  padding: 2px;
  position: relative;
  z-index: 1;
  bottom: 34vh;
  right: 10vw;
}

.show-container{
  display: flex;
  justify-content: space-around;
}
.show-container img{

  width: 150px;
  height: 150px;
}
.cart-container, .cart-container-left, .cart-container-right {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
}
.cart-container img{
  width: 150px;
  height: 150px;
}

.nav-top{
  display: flex;
  justify-content: space-between;

}
.nav-top-right,.nav-main-top{

  display: flex;
  justify-content: space-around;

}


.nav-top-right img{
  width: 3vw;
  height: 3vh;
  margin: 8px 5px 0 5px;
  /* border: 0.1em solid red; */
}
.nav-top-right p{

  margin: 8px;
}
.nav-main {
  background-color: black;
  color:white;
  padding: 10px 0;
}
.nav-main-top input {
  margin: 35px 0;
  width: 15vw;
}
.nav-main-top h1 {
  margin-top: 25px;
}
.nav-main-top h4 {
  margin-top: 30px;
}
.nav-main-top img {
  width: 7vw;
  height: 7vh;
  margin-top: 20px;

}
.nav-link{
  justify-content: space-around;
  display: flex;
  margin: 5px auto;
}
.nav-link a{
  color: white;
  text-decoration: none;
  padding: 0 7px 7px 7px;
}
.nav-link a:hover{
  border-bottom: 0.1em solid white;
}
.header-main{
  background-color: rgb(252, 223, 3);
  height:400px;

}
.header-main h6{
  text-align: center;
  font-size: 40px;
  font-family: 'Playfair Display', serif;
  padding-top: 2vh;

}
.header-main-bottom{
  justify-content: space-around;
  display: flex;
}
.header-main-skin{

  margin-top: 20px;
  width: 270px;
  height: 270px;
  background: rgb(244, 171, 247);
}
.header-main-makeup{
  margin-top: 20px;
  width: 270px;
  height: 270px;
  background-color: rgb(140, 222, 245);
}
.header-main-inner1{
  margin: 12.5% auto;
  background-color: rgb(52, 195, 235);
  width: 200px;
  height: 200px;
}
.header-main-inner1 h1, .header-main-inner2 h1{

  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}
.header-main-inner2{
  margin: 12.5% auto;
  width: 200px;
  height: 200px;
  background-color: rgb(255, 105, 180);
}
.header-main-inner1 a, .header-main-inner2 a{
text-decoration: none;
color: black;
}
.makeup-container{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 30px;
}
.makeup-card{
  height: 270px;
  width: 200px;
  /* border: 0.1em solid red; */

}
.makeup-card img{
  width: 120px;
  height: 150px;
  margin: 20px 6vw;
}
.header-link p{
  margin: 20px 20px;
  color: gray;
}
.makeup{
  display: flex;
  justify-content: center;
}
.makeup p{
  margin: 10px auto;
}
.makeup a, p>a{
  text-decoration: none;
  color: black;
}

.makeup-sidebar{
  border-right: 0.05em solid gray;
  border-top: 0.05em solid gray;

  padding: 20px;
}
.makeup-sidebar h5{
  font-size: 15px;
}
.makeup-brand{
  width: 150px;
}
.makeup-type, .makeup-brand{
  padding: 10px;
  border-top: 0.2em solid black;

}
